html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}



.wrap{	
	height: 8;
	margin:0 auto;
	width: 1000px;
}

.header{
	background: red;
	height: 160px;
}

.topselect{
	display: block;
	float:left;
}

.topmenu{
	height: 20px;
}
.topmenu li{
	float: left;
}

.topmenu li a{
	margin-bottom: 20px;
	display: inline-block;
	width: 195px;
	text-align: center;
	background: blue;
	height: 20px;
	text-decoration: none;
	line-height: 20px;
}

.topmenu li a:hover{
	background:black;
}

.main{
	margin-bottom: 20px;
}

.first{	
	width: 180px;
	background: pink;
	float: left;
	padding: 20px;
	margin-right: 20px;
}

.second{
	height: 8px;
	width: 500px;
	background: black;
	float: left;
}

.third{
	height: 8px;
	width: 300px;
	background: yellow;
	float: right;
}

.clearfix{
	clear:both;
}

.footer{
	height: 8px;
	width: 1000px;
	background: grey;
position: absolute;
}

